body {
  margin: 0;
  background-image: url("../images/homeimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  color: white;
}
